<!-- Navbar -->
<div class="w3-top">
    <div class="w3-bar w3-theme-d5 w3-left-align w3-large">
        <a href="{{ site.baseurl }}/" class="w3-bar-item w3-button w3-padding-large w3-theme-d5 w3-hover-theme">
            {{ site.title }}
        </a>
        {% for navitem in site.data.navitems.subjects %}
        <a href="{{ site.baseurl }}{{ navitem.link }}"
            class="w3-bar-item w3-button w3-hide-small w3-hide-medium w3-padding-large w3-hover-theme"
            title_tag="{{ navitem.title_tag }}">
            <i class="{{ navitem.fontawesome_class }}"></i> {{ navitem.title }}
        </a>
        {% endfor %}

        {% if page.url != '/' %}
        <a class="w3-bar-item w3-button w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
            href="javascript:void(0);" onclick="sidebar_open()">
            <i class="fa fa-bars"></i>
        </a>
        {% endif %}
        <a class="w3-bar-item w3-button w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2"
            href="javascript:void(0);" onclick="openNav()">
            Subjects <i class="fas fa-caret-down"></i>
        </a>
        <div class="w3-dropdown-hover w3-hide-small w3-hide-medium">
            <button class="w3-button w3-padding-large w3-hover-theme" title="More">More <i
                    class="fas fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                {% for navitem in site.data.navitems.subjects_hidden %}
                <a href="{{ site.baseurl }}{{ navitem.link }}" class="w3-bar-item w3-button"
                    title="{{ navitem.title_tag }}"><i class="{{ navitem.fontawesome_class }}"></i> {{ navitem.title
                    }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="w3-dropdown-hover w3-hide-small w3-hide-medium">
            <button class="w3-button w3-padding-large w3-hover-theme" title="More">Questions <i
                    class="fas fa-caret-down"></i></button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                <a href="{{ site.baseurl }}/pyqs" class="w3-bar-item w3-button"
                    title="Programming and Data Structures Questions">
                    PYQs</a>
            </div>
        </div>

    </div>
</div>

<!-- Navbar on small screens -->
<div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-large w3-center w3-top" style=" position: fixed;
top: 0px;">
    <a href="#" class="w3-bar-item w3-button w3-padding-large w3-hover-theme" onclick="openNav()">x</a>
    {% for navitem in site.data.navitems.subjects %}
    <a href="{{ site.baseurl }}{{ navitem.link }}" class="w3-bar-item w3-button w3-padding-large w3-hover-theme"
        title_tag="{{ navitem.title_tag }}">{{ navitem.title }}</a>
    {% endfor %}
    {% for navitem in site.data.navitems.subjects_hidden %}
    <a href="{{ site.baseurl }}{{ navitem.link }}" class="w3-bar-item w3-button w3-padding-large w3-hover-theme"
        title_tag="{{ navitem.title_tag }}">{{ navitem.title }}</a>
    {% endfor %}

</div>