---
layout: default
---

<h2>{{ page.year }}</h2>

<!-- Question Data for loop -->
{% for question-data in page.question %}

<!-- Check questio data type -->
{% if question-data.type == "text" %}
<h1>{{ question-data.data }}</h1>
{% elsif question-data.type == "table" %}

<table class="w3-table w3-bordered w3-border w3-margin-bottom">
    {% for row in question-data.rows %}
    {% if forloop.index == 1 %}
    <tr>
        {% for col in row %}
        <th>{{ col }}</th>
        {% endfor %}
    </tr>
    {% else %}
    <tr>
        {% for col in row %}
        <td>{{ col }}</td>
        {% endfor %}
    </tr>
    {% endif %}
    {% endfor %}
</table>

{% elsif question-data.type == "list" %}
<ul>
    {% for list-item in question-data.data %}
    <li>{{ list-item }}</li>
    {% endfor %}
</ul>

{% elsif question-data.type == "image" %}

<img src="{{ site.baseurl }}/assets/images/questions/{{ question-data.data }}" alt="{{ question-data.data }}">

<!-- Check question data type end -->
{% endif %}

<!-- Question Data for loop end -->
{% endfor %}

<!-- Check question type -->
{% if page.type == "mcq" %}
<ul style="list-style: none;">
    <!-- Options for loop -->
    {% for option in page.options %}

    <li>
        {% if forloop.index == 1 %}
        <strong>A)</strong>
        {% elsif forloop.index == 2 %}
        <strong>B)</strong>
        {% elsif forloop.index == 3 %}
        <strong>C)</strong>
        {% elsif forloop.index == 4 %}
        <strong>D)</strong>
        {% endif %}

        {{ option.data }}
    </li>

    <!-- Options for loop end -->
    {% endfor %}
</ul>
<!-- Check questio type end -->
{% endif %}

<!-- Answer block -->
<div class="w3-card w3-round">
    <div class="w3-white">
        <button onclick="toggleAccordion('{{question.year}}{{question.serial}}')"
            class="w3-button w3-block w3-theme-l1 w3-left-align"><i
                class="fa fa-circle-o-notch fa-fw w3-margin-right"></i>Answers</button>
        <div id="{{question.year}}{{question.serial}}" class="w3-hide w3-container" markdown="1">
            {% for answer in question.answer %}

            {% if answer.type == "text" %}

            <p>{% if forloop.index == 1 %} <strong>Answer:</strong> {% endif %}{{ answer.data }}</p>

            {% elsif answer.type == "list" %}
            <ul>
                {% for list-item in answer.data %}
                <li>{{ list-item }}</li>
                {% endfor %}
            </ul>

            {% endif %}

            {% endfor %}


        </div>
    </div>
    <!-- Answer block end -->
</div>

<hr>